<div class="crm-container d-flex justify-content-center align-items-center">
  <div class="lg-form">
    <div class="leftForm">
      <h2 class="wlcm-txt">Login</h2>
      <form>
      <div class="form-section">
        <label for=""> Email/Phone Number </label>
        <input class="inputText" type="text" name="username" [(ngModel)]="username" />
      </div>
      <div class="form-section" style="margin-bottom: 46px;">
        <label for=""> Password </label>
        <input class="inputText" type="{{pwdFormat}}" name="password" [(ngModel)]="password" />
        <a class="eye-btn" (click)="hideShowPassword();">
          <span class="material-symbols-outlined">{{pwdVisibility}}</span>
        </a>
        <span class="showError"> {{errorMsg}}</span>
        <p class="query-txt">
          <span> <input type="checkbox" id="check"><label for="check">Remember me</label></span>
          <a (click)="callForgetPwdPage();">Forgot Password</a>
        </p>
      </div>
      <div class="login-btn-section">
        <button class="login-btn" (click)="loginToCRM();">Login</button>
      </div>
      </form>
    </div>
  </div>
</div>